body[class="corinicial"] {
    background-image: linear-gradient(to top, rgb(168, 168, 168), 40%, rgb(255, 255, 255), rgb(255, 255, 255));
    display: flex;
    justify-content: center;
    height: 100vh; /* Ocupa a altura total da tela */
    margin: 0;
}

.container {
    display: flex; 
}

.LoginLogo {
    padding-top: 80px;
    width: 700px; 
    height: 600px; 
    opacity: 50%;
    margin-right: -50px; 
}

#todo {                     /* Retângulo do LOGIN */
    margin-top: 100px;
    background-color: white;
    width: 35%;
    height: 450px;
    border-radius: 15px;
    padding: 25px;
    margin-left: 140px;
    border: 1px solid #000000; /* Borda */
    box-shadow: 0 4px 8px rgba(119, 114, 114, 0.74); /* Sombra da borda */
}

.usuario {
    
    width: 100%;
}

.senha {
    width: 100%;
}

.input-linha {          /* Linha das caixas de texto */
    border: none; 
    border-bottom: 1px solid black; /* add uma linha inferior */
    outline: none; /* Remove o contorno do foco ao clicar no input */
    width: 100%;
    padding: 5px;
    font-size: 16px;
}
a[class="botaoLogin"] { /* Botão Login */
    background-color: rgb(0, 0, 0); 
    color: white; 
    width: 26%; 
    padding: 12px ; 
    margin: 0;
    border-radius: 20px;
    padding-left: 28px; 
    border: none; 
    cursor: pointer; 
    display: block; /* Permite que o botão use margin auto */
    text-decoration: none; /* Remove sublinhado */
    margin-left: 260px;
    

}

a[class="botaoLogin"]:hover {
    background-color: rgb(50, 50, 50); /* Muda cor do botão com o cursor */
}

